@media(max-width:768px) {
    #home {
        text-align: center;
    }

    #header nav {
        display: none;
    }

    #about .about-content {
        width: 100%;
        text-align: center;
    }

    #about .half-bg {
        display: none;
    }
}