@media(max-width:768px) {
    #home {
        text-align: center;
    }

    #about .about-content {
        width: 100%;
        text-align: center;
    }

    #about .half-bg {
        display: none;
    }

    #artists .artists-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #artists h1 {
        text-align: center;
    }

    #artists h2 {
        font-size: 24px;
    }

    #gallery .gallery-images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
    }

    #gallery .gallery-images .gallery-image:nth-child(1) {
        grid-row: span 1;
        grid-column: span 1;
    }

    #gallery .gallery-images .gallery-image:nth-child(2) {
        grid-row: span 1;
        grid-column: span 1;
    }

    #gallery .gallery-images .gallery-image:nth-child(3) {
        grid-row: span 1;
        grid-column: span 1;
    }

    #gallery .gallery-images .gallery-image:nth-child(4) {
        grid-row: span 1;
        grid-column: span 1;
    }

    #gallery .gallery-images .gallery-image {
        width: calc(100% - 10px);
    }

    #contact {
        display: flex;
        flex-direction: column;
    }

    #contact .contact-info {
        width: 100%;
        height: 100%;
    }

    #contact .contact-info h1 {
        font-size: 3rem;
    }

    #contact h1,
    #contact p {
        text-align: center;
    }

    #contact .contact-info .container {
        align-items: center;
    }

    #contact .contact-form {
        width: 100%;
        height: 100%;
    }
}


/* Desktops and large screens */
@media (min-width: 769px) and (max-width:1024px) {
    #artists .artists-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra large screens and TV */
@media (min-width: 1201px) {}