/* 
1 - Resets and global variables
2 - Header
3 - Home
4 - About
*/

/** Resets and global variables **/
:root {
    --main-color: #344A51;
    --title-color: #172A30;
    --bg-color: #D0D0D0;
    --white: #F2F2F2;
    --transition: 0.4s all ease-in-out;
}

@font-face {
    font-family: Arrancar;
    src: url(../fonts/Arrancar-AL7r2.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Serif Pro', serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arrancar;
    color: var(--title-color);
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 18px;
    color: var(--main-color);
}

a {
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    filter: invert(30%);
}

a.button {
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.45);
    background: var(--main-color);
    font-size: 1.5rem;
    padding: 2rem 4rem;
}

a.button:hover {
    filter: none;
    background: #465c63;
}

ul li {
    list-style-type: none;
}

.container {
    margin: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.stripe {
    margin: 2rem 0;
    height: 100px;
    background: url(../images/stripe.png) repeat 0 0;
    animation: stripe 40s linear infinite;
    filter: opacity(0.2);
}

@keyframes stripe {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2560px 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/** Resets and global variables  **/

/** Header **/
#header {
    position: sticky;
    top: 0;
    z-index: 999;
}

#header .burger-menu {
    background: rgb(52, 74, 81, 0.4);
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}

#header .burger-menu .bar {
    background: var(--white);
    height: 2px;
    width: 30px;
    margin: 8px 0;
    transition: 0.4s;

    position: relative;
    top: 10px;
    left: 14px;
}

#header .burger-menu.active .bar:first-child {
    background: transparent;
    transform: translateY(100%);
}

#header .burger-menu.active .bar:nth-child(2) {
    transform: rotateZ(-135deg);
}

#header .burger-menu.active .bar:last-child {
    transform: rotateZ(135deg);
    position: relative;
    top: 0px;
}

#header nav {
    background: var(--main-color);
    transition: var(--transition);
    transform: translateX(100%);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#header nav.active {
    visibility: visible;
    transform: translateX(0);
}

#header nav ul li {
    margin: 1.5rem 0;
    border-bottom: 2px solid rgb(79, 100, 107, 0.4);
}

#header nav ul li a {
    font-family: Arrancar;
    font-size: 2rem;
}

/** Header **/

/** Home **/
#home {
    height: 100vh;
    background-image: url('../images/home-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#home .logo img {
    width: 80px;
}

#home h1 {
    color: var(--white);
}

.fa-chevron-down {
    color: var(--white);
}

/** Home **/

/** About **/
#about {
    display: flex;
    align-items: center;
}

#about .about-content {
    width: 50%;
}

#about .about-content .container {
    align-items: flex-start;
}

#about .half-bg {
    width: 50%;
}

#about .half-bg img {
    width: 100%;
    height: 100vh;
}

/** About **/

/** Artists **/
#artists h2,
#artists p {
    color: var(--white);
}

#artists .artists-cards {
    background: linear-gradient(0deg, rgba(52, 74, 81, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#artists .artists-cards .artist-card {
    position: relative;
    overflow: hidden;
}

#artists .artists-cards .artist-card img {
    max-width: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
}

#artists .artists-cards .artist-card .artist-description {
    color: var(--white);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#artists .artists-cards .artist-card .artist-smedia {
    visibility: hidden;
    position: absolute;
    bottom: 3.3rem;
    left: 2rem;
    transform: translateX(150%);
    transition: var(--transition);
}

#artists .artists-cards .artist-card .artist-description h2 {
    transform: translateX(0);
    transition: var(--transition);
}

#artists .artists-cards .artist-card:hover .artist-description h2 {
    transform: translateX(-200%);
}

#artists .artists-cards .artist-card:hover .artist-smedia {
    visibility: visible;
    transform: translateX(0);
}

/** Artists **/