/* 
1 - Resets and global variables
2 - Header
3 - Home
4 - About
*/

/** Resets and global variables **/
:root {
    --main-color: #344A51;
    --title-color: #172A30;
    --bg-color: #D0D0D0;
    --white: #F2F2F2;
    --transition: 0.3s all ease-in-out;
}

@font-face {
    font-family: Arrancar;
    src: url(../fonts/Arrancar-AL7r2.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Serif Pro', serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arrancar;
    color: var(--title-color);
}

h1 {
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 18px;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    filter: invert(30%);
}

a.button {
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.45);
    background: var(--main-color);
    font-size: 1.5rem;
    padding: 2rem 4rem;
}

a.button:hover {
    filter: none;
    background: #465c63;
}

ul li {
    list-style-type: none;
}

.container {
    margin: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

/** Resets and global variables  **/

/** Header **/
#header {
    background: var(--main-color);
}

#header nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

#header nav .nav-links {
    display: flex;
    gap: 3rem;
}

#header .logo img {
    transition: var(--transition);
    width: 80px;
}

#header .logo img:hover {
    filter: invert(30%);
}

/** Header **/

/** Home **/
#home {
    height: 100vh;
    background-image: url('../images/home-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#home .logo img {
    width: 80px;
}

#home h1 {
    color: var(--white);
}

.fa-chevron-down {
    color: var(--white);
}

/** Home **/

/** About **/
#about {
    display: flex;
    align-items: center;
}

#about .about-content {
    width: 50%;
}

#about .about-content .container {
    align-items: flex-start;
}

#about .half-bg {
    width: 50%;
}

#about .half-bg img {
    width: 100%;
    height: 100vh;
}

/** About **/