/* 
1 - Resets and global variables
2 - Header
3 - Home

*/

/** Resets and global variables **/
:root {
    --main-color: #344A51;
    --title-color: #172A30;
    --bg-color: #D0D0D0;
    --white: #F2F2F2;
    --transition: 0.3s all ease-in-out;
}

@font-face {
    font-family: Arrancar;
    src: url(../fonts/Arrancar-AL7r2.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Serif Pro', serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arrancar;
    color: var(--title-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 18px;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    filter: invert(30%);
}

ul li {
    list-style-type: none;
}

.container {
    padding: 0 4rem;
}

/** Resets and global variables  **/

/** Header **/
#header {
    position: sticky;
    height: 0;
    top: 0;
}

#header nav {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

#header nav .nav-links {
    display: flex;
    gap: 4rem;
}

#header .logo img {
    transition: var(--transition);
    width: 80px;
}

#header .logo img:hover {
    filter: invert(30%);
}

/** Header **/

/** Home **/
#home {
    height: 100%;
    background-image: url('../images/home-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Home **/